@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --dark: #181818;
  --light: #F6FBF4;
  --accent: #0099FF;

  /* --font-title: 'Great Vibes', cursive; */
  --font-body: 'Quicksand', sans-serif;


}


/* @media screen and (prefers-color-scheme: dark) {
  :root {
    --dark: #F6FBF4;
    --light: #181818;
  }
} */


body {
  margin: 0;
  font-family: var(--font-body), BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
  color: var(--dark);
}

